body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #f5f5f5;
}

.history-container {
    width: 100%;
    margin: 50px auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.history-header {
    background-color: #007BFF;
    color: white;
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

.history-content {
    max-height: 200px;
    overflow-y: auto;
    padding: 20px;
}

.history-item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.history-item:last-child {
    border-bottom: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.highlight {
    background-color: yellow !important; 
}

.selected {
    background-color: #d3f9d8 !important;
}

.case-details-container {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 97%;
    margin: 50px auto;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#caseModal {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 400px;
}

#modalOverlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#closeModalButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    z-index: 1001;
}

.table-container {
    max-height: 300px;
    overflow-y: auto; 
    border: 1px solid #ddd;
}

