{% extends "base.html" %}

{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{%endblock%}

{% block content %}
  <!-- title -->
  <header class="top-bar">
    <h1>Home</h1>
    <p>Welcome, {{ username }}!</p>
  </header>
  <!-- main -->
  <section class="content">
    <button class="add-animal-button">Add New Animal</button>
    <div class="header">
        Animal Records
    </div>
    <table id="animalTable" style="width: 100%; border-collapse: collapse; margin-top: 10px; font-family: Arial, sans-serif;">
        <thead style="background-color: #f4f4f4;">
            <tr>
                <th style="border: 1px solid #ddd; padding: 10px;">Animal ID</th>
                <th style="border: 1px solid #ddd; padding: 10px;">Name</th>
                <th style="border: 1px solid #ddd; padding: 10px;">Last Name</th>
                <th style="border: 1px solid #ddd; padding: 10px;">Species</th>
                <th style="border: 1px solid #ddd; padding: 10px;">Date of Birth</th>
                <th style="border: 1px solid #ddd; padding: 10px;">Breed</th>
                <th style="border: 1px solid #ddd; padding: 10px;">Color</th>
            </tr>
        </thead>
    </table>
  </section>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
